[user]
        signingkey = 1CDD63E24FE303BBAF6C504C1FF05B6156D877AD
        name = David Kröll
        email = dkroell@anexia-it.com

[gpg]
        program = gpg

[commit]
        gpgsign = true

[pull]
        rebase = true

[init]
        defaultBranch = main

